/* BREAKPOINTS */
$tablet-width: 768px;
$desktop-width: 1000px;
$max-site-width: 1600px;
$std-content-width-percent: 94%;
$std-content-width-max: 1400px;

/*  */
$border-radius: 4px;

/* COLOR */
$tree-bark: rgba($color: #000, $alpha: 0.3);
$tree-green: rgba($color: #041E42, $alpha: 0.6);

$outline: #ccc;

$link: #1434A4;
$link-hover: #2c48ad;
$link-active: #122f94;
$link-disabled: rgba($color: #040a21, $alpha: 0.8);

$action: #117144;
$action-hover: #297f57;
$action-active: #0f663d;
$action-disabled: #03170e;

$cancel: #555;
$cancel-hover: #888;

$danger: #a91b0d;
$danger-hover: #b23225;
$danger-active: #98180c;
$danger-disabled: #220503;

$new: rgba($color: #041E42, $alpha: 0.6);
$brown-trans: rgba($color: #25150B, $alpha: 0.7);
$dark-trans: rgba($color: #000, $alpha: 0.6);
$white-trans: rgba($color: #fff, $alpha: 0.94);
$white-subtle-trans: rgba($color: #fff, $alpha: 0.7);

/* TIMINGS */
$transition-fast: 0.3s;
$transition-std: 0.6s;
