<header class="site-header sticky-top">
  <div class="container content py-3">
    <div id="output" class="order-md-1 overflow-auto"></div>
    <div>
      <h1>Tree Rat CMS</h1>
      <nav class="d-flex justify-content-start gap-3 ">
        <a href="<%= site.url %>admin/pages" class="btn btn-primary">Pages</a>
        <a href="<%= site.url %>admin/images" class="btn btn-primary">Images</a>
        <a href="<%= site.url %>admin/files" class="btn btn-primary">Files</a>
      </nav>
    </div>
  </div>
</header>
