<header class="site-header sticky-top">
  <div class="container content py-3">
    <div id="console" class="order-md-1"></div>
    <div>
      <h1>Tree Rat CMS</h1>
      <nav class="d-flex justify-content-start gap-3">
        <button class="btn btn-primary">Pages</button>
        <button class="btn btn-primary">Images</button>
        <button class="btn btn-primary">Files</button>
      </nav>
    </div>
  </div>
</header>
