<!-- Default content for template -->
<% if (content.default) {
  content.cards = [
  {
            "template": "card-slider",
            "name": "Slider Card",
            "label": "",
            "collapse": "hide",
            "content": {
              "heading": "Squiritur",
              "paragraph": "Et si pascere nuces sunt valde dolor et facti sunt amici tui.",
              "button": {
                "type": "no",
              }
            }
          },
          {
            "template": "card-slider",
            "name": "Slider Card",
            "label": "",
            "collapse": "hide",
            "content": {
              "heading": "Squiritur",
              "paragraph": "Et si pascere nuces sunt valde dolor et facti sunt amici tui.",
              "button": {
                "type": "no",
              }
            }
          }
        ]
} %>


<div class="white-back pb-1">
<!-- Heading -->
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading", extraClass:"mb-1"}) %>
<div class="row row-cols-1 row-cols-sm-2">
  <div class="col">
    <!-- Style -->
    <%- include("../../section-helpers/select", { slug: "style", label: "Style", options : [{slug: "normal",
    label:"Normal"},{slug: "big", label: "Big"}]}) %>
  </div>
  <div class="col">
    <!-- Background Color -->
    <%- include("../../section-helpers/select", { slug: "color", label: "Background Color", options : [{slug: "green",
    label:"Green"},{slug: "purple", label: "Purple"}]}) %>
  </div>
</div>

</div>

<%- include("../../section-helpers/block-select", 
              { slug: "cards",
                blocks:[{slug:"card-slider", name:"Card"}]}) %>
