<script src="<%= site.url %>admin/assets/bootstrap.bundle.min.js"></script>
<script src="<%= site.url %>admin/assets/jquery.min.js"></script>
<script src="<%= site.url %>admin/assets/jquery-ui.min.js"></script>
<script src="<%= site.url %>admin/assets/script.js"></script>
</body>
</html>