<div class="col-2">
<div class="btn-group">
  <!-- <a href="" class="btn btn-primary">Edit</a> -->
  <%- include("../components/button", 
  {arg:{text: "Label", 
        color:"success", 
        extraClass:"label-set-active", 
        bsToggle:"modal",
        bsTarget:"#label-modal",
        cmsTarget: removeTarget,
        cmsText: name }}) %>
  <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu btn-success">
    <li>
      <%- include("../components/button", 
      {arg:{text: "Copy", 
            color:"success", 
            extraClass:"copy dropdown-item", 
            cmsTarget: removeTarget }}) %>
    </li>
    <li>
      <%- include("../components/button", 
      {arg:{text: "Remove", 
            color:"danger", 
            extraClass:"remove dropdown-item", 
            cmsTarget: removeTarget,
            cmsText: name }}) %>
    </li>
  </ul>
</div>
</div>