<div class="col-1 handle">
  <svg
    viewBox="0 0 16 16"
    width="40"
    xmlns="http://www.w3.org/2000/svg"
    class="text-secondary mx-1"
    fill="currentColor">
    <use xlink:href="<%= site.url %>admin/assets/sprites.svg#grip-horizontal" />
  </svg>
</div>