.button {
  font-size: 16px;
  padding: 6px 14px;
  min-width: 75px;
  min-height: 36px;
  text-align: center;
  border: none;
  border-radius: $border-radius;
  color: white;

  &:hover {
    transition: all $transition-fast;
  }
  
}

button:disabled, button:disabled:hover {
  background-color: $tree-bark;
  color: white;
}

.button-action {
  background-color: $action;

  &:hover {
    background-color: $action-hover;
  }
}

.button-link {
  display: inline-block;
  text-decoration: none;
  background-color: $link;

  &:hover {
    background-color: $link-hover;
  }
}

.button-cancel {
  background-color: $cancel;

  &:hover {
    background-color: $cancel-hover;
  }
}

.button-danger {
  background-color: $danger;

  &:hover {
    background-color: $danger-hover;
  }
}

.button-ghost {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Button Groups
.button-group {
  position: relative;
  display: inline;
  font-size: 0;

  .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button-toggle {
    padding: 0;
    width: 30px;
    min-width: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .button {
    height: 100%;
    display: inline-block;
  }

  .button-drop {
    z-index: 10;
    background: $dark-trans;
    border-radius: $border-radius;
    width: 100%;
    margin-top: 4px;
    padding: 6px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transform: scaleY(0);
    transition: transform $transition-std;
    
    .button {
      border-radius: 0;
    }
  }

  &.show {
    .button-drop {
      transform: scaleY(1);
    }
  }
}

.button-text {
  padding: 6px 16px;
}

.button-svg {
  position: relative;
  
  svg {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    color: transparent;
    animation: rotating 2s linear infinite;
  }

  &.spinner {
    svg {
      color: white;
      animation: rotating 2s linear infinite;
    }
  }
}

@keyframes rotating {
  from {
    transform: translateY(-50%) rotate(0deg);
  } to {
    transform: translateY(-50%) rotate(360deg);
  }
}