<div class="button-group">
  <button class="button button-action">Label</button>
  <button class="button button-action button-toggle">
    <%- include("icon-svg", {id:"three-dots", 
                           color: "black", 
                           width: 18}) %>
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <div type="button" class="button-drop">
    <button class="button button-action button-drop-item">Edit</button>
    <button class="button button-danger button-drop-item">Delete</button>
  </div>
</div>

