<% if (content.default) {
  content.default = false
  content.heading = "History"
  content.events = [
  {
    "template": "event",
    "name": "Event",
    "content": {
              "date": "3000",
              "paragraph": "Ut sciuri super terram. Et salvum facere omnes homines, qui pascat eas nuces, et occidere cetera."
    }
  }
]
} %>

<div class="white-back pb-1">
<!-- Heading -->
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading", extraClass: "mb-1"}) %>
<%- include("../../section-helpers/select", 
                    { slug: "color", label: "Background Color", 
                      options : [{slug: "purple",label:"Purple"},
                                 {slug: "green",label:"Green"},
                                 {slug: "blue",label:"Blue"},
                                 {slug: "neutral", label: "Neutral"}]}) %>
</div>
<!-- Quick Links -->
<%- include("../../section-helpers/block-select", 
{ slug: "events",
  blocks:[{slug:"event", name:"Event"}]}) %>