<% if (content.default) {
  content.default = false
  content.heading = "History"
  content.quickLinks = [
  {
    "template": "link-text-svg",
    "name": "Text Link with Icon",
    "collapse": "show",
    "content": {
      "text": "2023",
      "svg": "video",
      "link": {
        "type": "external",
        "page": "test",
        "link": "https://www.youtube.com/watch?v=w7f1z27RI7g"
      }
    }
  }
]
} %>

<div class="white-back pb-1">
<!-- Heading -->
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading"}) %>
</div>
<!-- Quick Links -->
<%- include("../../section-helpers/block-select", 
{ slug: "events",
  blocks:[{slug:"event", name:"Event"}]}) %>