<section class="history">
  <h2><%- content.heading %></h2>

  <% if (content.events) for (event of content.events) { %>
      <%- include(`../../blocks/${event.template}/site-${event.template}`,
      { content : event.content }) %> 
  <% } %>

</section>