<% 
let widths = [400]; 
let imgName = publishImg('new-logo.png', { width: 400, height: 320, widths}, locals.promises) 
%>

<a class="link--logo" href="<%- site.url %>" aria-label="Home page">
  <img class="logo logo--primary" src="<%- site.url %>assets/images/<%- imgName %>-400.jpg" alt="">
</a>
