<a class="logo-responsive" href="<%- site.url%>" aria-label="Home page">
  <svg class="logo logo--primary" viewBox="0 0 194 105" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="<%- site.url%>assets/svgs/sprites.svg#primary-logo" />
  </svg>
  <svg class="logo logo--mobile" viewBox="0 0 234 61" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="<%- site.url%>assets/svgs/sprites.svg#mobile-logo" />
  </svg>
</a>
