<a class="link--logo" href="<%- site.url %>" aria-label="Home page">
  <svg class="logo logo--primary" viewBox="0 0 194 105" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="<%- site.url %>assets/svgs/sprites.svg#primary-logo" />
  </svg>
</a>
