<section class="hero hero-<%= content.style %>">
  <div class="hero-img-container">
    <img class="hero-img" src="<%- site.url %>admin/assets/images/original/<%- content.image %>" alt="">
  </div>
</section>
