.text-area {
  @include spacing-skinny;

  h1:first-child {
    margin-top: 0;
  }

  &.text-area-flashy {
    color: $green-700;
    border: 1px solid $neutral-300;
    h1, h2, h3 {
      color: $green-800;
    }
  }

  &.text-area-splashy {
    color: $neutral-900;
    border: 1px solid $green-600;
  }
}