<% if (content.default) {
  content.default = false
  content.heading = "Squiritur"
  content.paragraph = "Et si pascere nuces sunt valde dolor et facti sunt amici tui."
} %>

<div class="white-back">
  <%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading", extraClass:"mb-1"}) %>
  <%- include("../../section-helpers/text-area-plain-threeline", { slug: "paragraph", label: "Paragraph"}) %>
  <%- include("../../section-helpers/button", { slug: "button", label: "Button", extraClass: "mt-2" }) %>
</div>