<li class="list-group-item">
  <div class="row">
    <div class="col-sm-">
      <a href="" class="link-dark h4">Test</a>
    </div>
    <div class="col-sm-4 d-sm-flex justify-content-center justify-content-sm-end">
      <div class="btn-group">
        
      </div>
    </div>
  </div>
</li>