<div class="white-back">
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "heading", label: "Heading", extraClass: "mb-1"}) %>
<%- include("../../section-helpers/text-area-plain-threeline", { slug: "paragraph", label: "Paragraph"}) %>
<%- include("../../section-helpers/link", { slug: "link", label: "Link", extraClass:"mt-2"}) %>
</div>