<div class="white-back">
<%- include("../../section-helpers/text-area-plain", { slug: "heading", label: "Heading"}) %>
<%- include("../../section-helpers/text-area-med", { slug: "paragraph", label: "Paragraph"}) %>
<%- include("../../section-helpers/link", { slug: "link", label: "Link"}) %>
</div>