<div class="white-back">
<%- include("../../section-helpers/text-area-plain-ninelines", {index, slug: "code", label: "Code", extraClass: "mb-1"}) %>
<!-- Style -->
<%- include("../../section-helpers/select", { slug: "style", label: "Style", options : [
  {slug: "standard", label:"Standard"},
  {slug: "wide", label:"Wide"},
  {slug: "skinny", label: "Skinny"}]}) %>
</div>