<div class="form-floating mb-2">
  <%- include("../../section-helpers/block-select", 
              { slug: "cards",
                blocks:[{slug:"card-with-link", name:"Hover Card"}]}) %>
</div>