<!-- Default content for template -->
<% if (content.default) {
  content.cards = [
          {
            "template": "card-with-link",
            "name": "Card with Link",
            "content": {
              "heading": "Squirrel Ipsum",
              "paragraph": "Squiritur sunt optima. Et ascendentes arbores et saltare amant ex genere est. Et si pascere nuces sunt valde dolor et facti sunt amici tui.",
              "link": {
                "type": "internal",
                "page": "home",
                "link": "",
                "file": "alliance-priorities-one-pager-_-4_5.pdf",
                "scroll": ""
              }
            }
          },
          {
            "template": "card-with-link",
            "name": "Card with Link",
            "content": {
              "heading": "Squirrel Ipsum",
              "paragraph": "Squiritur sunt optima. Et ascendentes arbores et saltare amant ex genere est. Et si pascere nuces sunt valde dolor et facti sunt amici tui.",
              "link": {
                "type": "external",
                "page": "test",
                "link": "https://www.youtube.com/watch?v=wfz2fUd-8Tw",
                "file": "alliance-priorities-one-pager-_-4_5.pdf",
                "scroll": ""
              }
            }
          }
        ]
} %>

<div class="form-floating mb-2">
  <%- include("../../section-helpers/block-select", 
              { slug: "cards",
                blocks:[{slug:"card-with-link", name:"Card"}]}) %>
</div>