/* BREAKPOINTS */
$tablet-width: 768px;
$desktop-width: 1200px;
$max-site-width: 1600px;
$std-content-width-percent: 94%;
$std-content-width-max: 1400px;

/* COLOR */
$blue: #266DD3;
$accent1: #ffa62b;
$accent2: #e57a44;
$charcoal: #344055; 
$tree-bark: #25150b;

/* TIMINGS */
$transition-std: 0.6s;
