<textarea class="form-control" placeholder="Write page description here" id="paragraph" name="details[paragraph]" maxlength="150"><%= page.details.paragraph %></textarea>
<label for="paragraph">Paragraph</label>