<% if (!page.details) page.details = {} %>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Write page title here" id="title" name="title" maxlength="60"><%= page.title %></textarea>
      <label for="title">Title</label>
    </div>
  </li>
  <li class="list-group-item">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Write page description here" id="description" name="description" maxlength="150"><%= page.description %></textarea>
      <label for="description">Description</label>
    </div>
  </li>
  <li class="list-group-item">
    <small>&#128712; Meta Tags. Important for Search Engine Optimization.</small>
  </li>
</ul>
