<h2>Add Block:</h2>
<form id="addBlock" class="mb-3">
  <div class="row row-cols-2 mb-2">
    <div class="col">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingSlug" name="slug" />
        <label for="floatingSlug">slug</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingLabel" name="name" />
        <label for="floatingLabel">name</label>
      </div>
    </div>
  </div>
  <%- include("../components/button", {arg:{text: "Add Block", color:"primary", extraClass:"create", cmsForm:
  "addBlock", cmsUrl:site.url+"admin/blocks", cmsText:"Creating block", cmsAnchor:"dev-block-anchor"}}) %>
</form>
<ul class="list-group">
  <% for (let block of site.blocks) { %>
  <li class="list-group-item">
    <div class="row">
      <div class="col">slug: <%- block.slug %></div>
      <div class="col">name: <%- block.name %></div>
      <div class="col">
        <%- include("../components/button", 
        {arg:{text: "Delete", 
              color:"danger", 
              extraClass:"delete", cms: block.slug,
              cmsUrl:site.url+"admin/blocks", cmsAnchor:"dev-block-anchor"}}) %>
      </div>
    </div>
  </li>
  <% } %>
</ul>
