.site-header {
  background-color: $tree-green;
  color: white;

  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
      flex-direction: row;
    }
  }

  #output {
    @include scrollbars;
    max-width: 100%;
    overflow-x: hidden !important;
    border-radius: 16px;

    height:100px;
    width: 100%;
    padding: 4px;

    @include tablet {
      width: 50%;
    }
  }
}
