<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mb-3">
  <% for (const image of page.images) { %>
    <%- include("../components/image-card", {key: image.name , value: image, extraClass:"bg-info"}) %>
  <% } %>
</div>
