<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
  <% for (let i =0; i < site.images.length; i++) { const image = site.images[i]; %>
    <%- include("../components/image-card", {image, extraClass:"", index: i}) %>
  <% } %>
</div>
