<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
  <% for (const image of site.images) { %>
    <%- include("../components/image-card", {image, extraClass:""}) %>
  <% } %>
</div>
