<!-- Add Page Modal -->
<div class="modal fade mt-5" id="addPageModal" tabindex="-1" aria-labelledby="addPageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPageModalLabel">
          Add Page
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addPageForm">
          <div class="input-group mb-3">
            <label for="addPageModalFolderSelect" class="input-group-text">Folder</label>
            <select class="form-select" name="folder" id="addPageModalFolderSelect">
              <option value="/">/</option>
              <% for (let i=0; i < site.folders.length; i++) { %>
              <option value="<%= site.folders[i].slug %>"><%= site.folders[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="input-group">
            <label for="name" class="input-group-text">Page Name</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%- include("../components/button", 
            {arg:{text: "Add", 
                  color:"success", 
                  extraClass:"create",
                  bsDismiss: "modal", 
                  cmsForm: "addPageForm",
                  cmsUrl:site.url+"admin/pages", cmsAnchor:"accordionPageAnchor"}}) %>
      </div>
    </div>
  </div>
</div>
