<!-- Modal -->
<div
  class="modal fade mt-5"
  id="addFolderModal"
  tabindex="-1"
  aria-labelledby="addFolderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFolderModalLabel">Add Folder</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addFolder">
          <div class="input-group">
            <label for="name" class="input-group-text">Folder Name</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
        <%- include("../components/button", 
        {arg:{text: "Add", 
              color:"action", 
              extraClass:"create",
              bsDismiss: "modal", 
              cmsForm: "addFolder",
              cmsUrl:site.url+"admin/folders",
              cmsAnchor:"accordionPageAnchor",
              cmsText:"Adding folder"}}) %>
      </div>
    </div>
  </div>
</div>
