<form id="pageForm" class="accordion">
  <section class="roller">
    <header class="roller-header">
      <button type="button" class="button-ghost roller-toggle no-left no-right">
        <h1>Page Details</h1>
        <%- include("../components/icon-svg", {id:"chevron", 
                                               color: "black", 
                                               width: 24})%>
      </button>
    </header>
    <div class="roller-body">
      <%- include("details")%>
    </div>
  </section>
  <%- include("./section-select")%>
  <div id="sectionAnchor">
    <%- include("./sections")%>
  </div>
</form>
