<section class="py-3 page-control page-control-small">
  <div class="col-md my-2 my-md-0">
    <!-- Publish Page -->
    <%- include("../components/button", {arg:{text: "Publish", color:"success", extraClass:"create", cmsForm:
    "pageForm", cmsText: "Publishing Page", cmsUrl:site.url+"admin/publish/"+page.link, cmsAnchor:"pageControlAnchor"}})
    %>
  </div>
</section>
