<div class="brown p-2">
  <div class="row align-items-center">
    <h2 class="text-white col-md">Sections</h2>
    <div class="input-group col-md">
      <select name="" id="select-template" class="form-select">
        <% for (let i =0; i < site.sections.length; i++) { %>
        <option value="<%= site.sections[i] %>"><%= site.sections[i] %></option>
        <% } %>
      </select>
      <%- include("../components/button-action", { arg: {text: "Add", extraClass: "section-add"}}) %> 
    </div>
  </div>
</div>
