<div class="row align-items-center">
  <h2 class="text-white col-md">Sections</h2>
  <div class="input-group col-md">
    <select name="" id="select-template" class="form-select">
      <% for (let i =0; i < site.sections.length; i++) { %>
      <option value="<%= site.sections[i].slug %>"><%= site.sections[i].name %></option>
      <% } %>
    </select>
    <%- include("../components/button", {arg:{text: "Add", color:"action", extraClass:"add section-add",
    cmsAnchor:"#sectionAnchor", cmsTarget: "#select-template :selected", cmsText: "Adding Section" }}) %>
  </div>
</div>
