<div class="white-back p-3">
  <div id="" class="floating-label mb-1">
    <label for="">Button Text (plain-text)</label>
    <textarea id="" rows="1" placeholder="Add plain text content here." name=""></textarea>
  </div>
  <div id="" class="floating-label mb-1">
    <label for="">Button Link (plain-text)</label>
    <textarea id="" rows="1" placeholder="Add plain text content here." name=""></textarea>
  </div>
</div>
