<div class="form-floating">
  <textarea class="form-control" placeholder="Write page description here" id="<%= index %>[paragraph]" name="<%= index %>[paragraph]" maxlength="150"><%= content.paragraph %></textarea>
  <label for="<%= index %>[paragraph]">Paragraph</label>
</div>