<%- include("base/head", { page: { title: "Dashboard", description: "Manage Site" }})%> <%- include("layouts/header")%>

<main class="container">
  <h1>Dashboard under construction</h1>
  <hr class="brown border-2 opacity-100" />

</main>

<%- include("base/foot")%>
