<%- include("base/head", { page: { title: "Pages", description: "Manage Pages" }})%> 
<%- include("layouts/header")%>

<main class="container">
  <section class="p-3 d-flex gap-3 justify-content-start">
    <button id="folder-add" class="button button-action" data-bs-toggle="modal" data-bs-target="#addFolderModal">Add Folder</button>
  </section>

  <section id="accordionPageAnchor" class="p-3 page-accordion">
    <%- include("sections/page-accordion")%>
  </section>
</main>

<%- include("base/foot")%>
