<%- include("../components/button", 
{arg:{text: "Label", 
      color:"action", 
      extraClass:"label-set-active", 
      bsToggle:"modal",
      bsTarget:"#label-modal",
      cmsTarget: ".cms-section",
      cmsText: section.name }}) %>
<button type="button" class="button button-action button-toggle">
<%- include("../components/icon-svg", {id:"three-dots", 
           color: "black", 
           width: 18}) %>
<span class="visually-hidden">Toggle Dropdown</span>
</button>
<div class="button-drop">
<%- include("../components/button", 
{arg:{text: "Copy", 
    color:"action", 
    extraClass:"copy button-drop-item", 
    cmsTarget: ".cms-section" }}) %>
<%- include("../components/button", 
{arg:{text: "Remove", 
    color:"danger", 
    extraClass:"remove dropdown-item", 
    cmsTarget: ".cms-section",
    cmsText: section.name }}) %>
</div>