@import "abstracts/fonts";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/global";

@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/icons";
@import "components/lists";

@import "layouts/header";
@import "layouts/modals";
@import "layouts/page";
@import "layouts/blocks";

@import "sections/roller";


// Needs to be organized

.section-add {
  width: 105px;
}

.white-back {
  background: $white-trans;
}

textarea.tall {
  min-height: 100px !important;
}

textarea.large {
  min-height: 200px !important;
}
textarea.alt {
  min-height: 150px !important;
}

#pageForm {

  @media screen and (min-width: 992px) {
  width:75%;
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

// Bootstrap Overrides
.img-thumbnail {
  background: $white-subtle-trans;
}