@import "abstracts/fonts";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "layouts/header";

body {
  background: white;
}

.brown {
  background: $tree-bark;
}

textarea.tall {
  min-height: 100px !important;
}
