<%- include("base/head", { page: { title: "Pages", description: "Manage Pages"
}})%> <%- include("layouts/header")%>

<main >
  <svg height="100" width="100" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="<%= site.url %>admin/assets/sprites.svg#check-square-fill"/>
  </svg> 
</main>

<%- include("base/foot")%>
