<% if (content.default) {
  content.default = false
  content.date = "2023"
} %>

<div class="white-back">
  <%- include("../../section-helpers/text-area-plain", { slug: "date", label: "Date"}) %>
  <%- include("../../section-helpers/text-area-med", { slug: "paragraph", label: "Paragraph"}) %>
</div>