<% if (content.default) {
  content.default = false
  content.date = "2023"
} %>

<div class="white-back">
  <%- include("../../section-helpers/text-area-plain-oneline", 
             { slug: "date", label: "Date", extraClass: "mb-1"}) %>
  <%- include("../../section-helpers/text-area-mark-threeline", 
             { slug: "paragraph", label: "Paragraph"}) %>
</div>