<section class="card-youtube card-youtube-<%- content.color %>">
  <div class="card card--purple">
    <div class="card-video-container">
      <%- content.code %>
    </div>
    <div class="card-text">
      <h3><%- content.heading %></h3>
      <p><%- content.paragraph %></p>
    </div>
  </div>
</section>