<% const link = (page.link == "home" ? "" : page.link) %>

<span id="publish-anchor" class="py-2">
  <%- include("../layouts/page-control-publish") %>
</span>

<span id="draft-control" class="page-control sticky-top py-2">
  <%- include("../layouts/page-control-draft") %>
</span>

