<section class="roller">
  <header class="roller-header">
    <div class="handle">
      <%- include("../components/icon-svg", {id:"grip-horizontal", 
                                             color: "black", 
                                             width: 40})%>
    </div>
    <button type="button" class="button-ghost roller-toggle">
      <h1>Heading</h1>
      <%- include("../components/icon-svg", {id:"chevron", 
                                             color: "black", 
                                             width: 24})%>
    </button>
    <button class="button button-action roller-actions">
      Label
    </button>
  </header>
  <div class="roller-body">
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ad dolores ab molestiae temporibus ullam exercitationem vel delectus eveniet repellat, earum necessitatibus. Fuga quae deserunt assumenda eum suscipit incidunt aspernatur?</p>

  </div>
</section>