<% index += `[${slug}]`%>
<div class="block-controller p-2">
<!-- Block Select -->
<div class="rounded-top d-flex justify-content-between">
  <h3 class="text-white m-0"></h2>
  <div class="block-select-container">
    <div class="input-group">
      <select class="form-select block-select">
        <% for (let i =0; i < blocks.length; i++) { %>
        <option value="<%= blocks[i].slug %>"><%= blocks[i].name %></option>
        <% } %>
      </select>
      <button class="button button-action block-add" type="button" data-cms="<%- index %>[0]">Add</button>
    </div>
  </div>
</div>
<!-- Block Content -->
<div class="block-anchor">
<% if (content[slug]) { %>
<%- include("../../admin/views/layouts/blocks", {blocks: content[slug], index})%>
<% } %>
</div>
</div>

