<% index += `[${slug}]`%>
<div class="block-controller">
<!-- Block Select -->
<div class="brown p-2 rounded-top">
  <div class="row align-items-center">
    <div class="input-group col-md">
      <select class="form-select block-select">
        <% for (let i =0; i < blocks.length; i++) { %>
        <option value="<%= blocks[i].slug %>"><%= blocks[i].name %></option>
        <% } %>
      </select>
      <button class="btn btn-success block-add" type="button" data-cms="<%- index %>[0]">Add</button>
    </div>
  </div>
</div>
<!-- Block Content -->
<div class="block-anchor">
  <% console.log(content[slug]) %>
<% if (content[slug]) { %>
<%- include("../../admin/views/layouts/blocks", {blocks: content[slug], index})%>
<% } %>
</div>
</div>

