<!-- Default content for template -->
<% if (content.default) {
  content.image = "default.webp"
  content.alt = "Squirrel on tree."
} %>

<div class="white-back">
<!-- Image -->
<%- include("../../section-helpers/image", { slug: "image", label: "Image" }) %>
<!-- Heading -->
<%- include("../../section-helpers/text-area-plain", { slug: "heading", label: "Heading"}) %>
<!-- Paragraph -->
<%- include("../../section-helpers/text-area-med", { slug: "paragraph", label: "Paragraph"}) %>
</div>