<section class="card card--grey">
  <div class="card-image-container">
    <%- include("../../components/image-card") %>
  </div>
  <div class="card-text">
    <h3><%- content.heading %></h3>
    <p><%- content.paragraph %></p>
  </div>
</section>
