.card-image-neutral {
  background-color: $neutral-100;
}

.card-image-green {
  background-color: $green-100;
}

.card-image-blue {
  background-color: $blue-100;
}

.card-image-purple {
  background-color: $purple-100;
}