<div class="white-back">
<!-- Link Text -->
<%- include("../../section-helpers/text-area-plain", { slug: "text", label: "Text"}) %>
<%- include("../../section-helpers/link", { slug: "link", label: "Link"}) %>
</div>