<div class="white-back">
<!-- Link Text -->
<%- include("../../section-helpers/text-area-plain-oneline", { slug: "text", label: "Link text", extraClass: "mb-1"}) %>
<%- include("../../section-helpers/link", { slug: "link", label: "Link type"}) %>
</div>
