<div class="white-back">

<div class="form-floating mb-2">
  <select class="form-select" id="floatingSelect" aria-label="Style" name="<%= index %>[style]">
    <option value="dotted" <% if (content.style == "dotted") { %>selected<% } %>>Dotted</option>
    <option value="dashed" <% if (content.style == "dashed") { %>selected<% } %>>Dashed</option>
    <option value="solid" <% if (content.style == "solid") { %>selected<% } %>>Solid</option>
  </select>
  <label for="floatingSelect">Style</label>
</div>
</div>